.feature-box{
    // setting the background color to all of the feature-box 's
    background-color: rgba($color-white,.8);
    font-size: 1.5rem;
    padding:2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    @include respond(tab-port){
    padding: 2rem;        

    }

    &__icon{
        // since the icon is a font we can treat it has one
        font-size: 6rem;
        margin-bottom: .5rem;
        // since we want the backgroun to go from one side to the other 
        display: inline-block;

        background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
        // the background gets clip ecxactly where the text is,so the background will only be visualble where the text is
        background-clip: text;
        -webkit-background-clip: text;
        color:transparent;

        @include respond(tab-port){
            margin-bottom: 0;       
        
            }
    }

    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }
}