
// All of the basic defintions of the page //@at-root




/*Rest the page  the * selector is a universial selector*/
*
*::after
*::before{
    margin:0;
    padding:0;
    /* include padding and border in the element's total width and height */
    box-sizing: inherit;
}

html{
    /*root font size on any device */
    font-size: 62.5%;//1rem = 10px; 10px/16px=62.5%



@include respond (tab-land){//width <1200
    font-size: 56.25%;//1rem =9px; 9 / 16 = 56.25%
}

@include respond (tab-port){//width <900
    font-size: 50%;//1rem =8px; 8 / 16 = 50%
}

@include respond (big-desktop){
    font-size: 75%;//1rem = 12px;12/16=75%
}
  
  
}

body{
    box-sizing: border-box;
    /* padding from the side of the screen */
    padding: 4rem;
    /* when the screen size is less then 900px  */
    @include respond (tab-port){
        /* get rid of the white border  */
     padding: 0;
    }
}

::selection{
    background-color: $color-primary;
    color: $color-white;
}